/*
 * BDiff.rc
 *
 * Resource file for BDiff. Includes all required resources except version
 * information.
 *
 * Copyright (c) 2008-2009 Peter D Johnson (www.delphidabbler.com).
 *
 * THIS SOFTWARE IS PROVIDED "AS-IS", WITHOUT ANY EXPRESS OR IMPLIED WARRANTY.
 * IN NO EVENT WILL THE AUTHORS BE HELD LIABLE FOR ANY DAMAGES ARISING FROM THE
 * USE OF THIS SOFTWARE.
 *
 * For conditions of distribution and use see the LICENSE file of visit
 * http://www.delphidabbler.com/software/bdiff/license
 */


/* Manifest file */
1 24 "BDiff.manifest"

